%li
  %label
    = dashboard_vehicle.year
    = dashboard_vehicle.vehicle_model.vehicle_make.name
    = dashboard_vehicle.vehicle_model.name
  %input{:type => 'text', :value => "122,935", :size => '7'}
